* {
    margin: 0;
}

.header {
    background-color: #2b2d42;
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    padding: 10px;
}

